@CHARSET "UTF-8";
body{background:#EBEBEB;}
.search_form{display:flex;justify-content: space-between;align-items: center;}
.searbox{width: 80%;display:flex;justify-content: space-between;align-items: center;border:1px solid #dedede;margin:10px 0;background:#fff;padding-right: 4px;border-radius:4px;}
.searbox>div{text-align:center;width:15%;}
.searbox img{width:30px;height:auto;padding: 4px;}
.searbox input{width:85% !important;border:none !important;outline:none;padding-left: 0;}
input:focus{box-shadow: none !important;}
.shoplist{margin-top:0;}
.shoplist li a{display: flex;justify-content: flex-start;align-items: center;border:none;background:#fff;padding:0;color:#000;}
.shoplist li{margin-bottom:10px;}
.shoplist_lf{border:1px solid #dedede;width:60px;height:60px;margin:10px;min-width: 60px;}
.shoplist_rt{padding-bottom:5px;padding-right:10px;
    /*实现了宽度为父容器宽度减去固定的300像素*/
    width:-webkit-calc(100% - 80px);
    width:-moz-calc(100% - 80px);
    width:calc(100% - 80px);  }
.tosearch{background:none;border:none;outline:none;color:#f60;width:18%;}
.nocont{padding:50% 0;}
.distance{font-size:14px;color:#aaa;min-width: 30px;text-align: right;}
.shop_name{max-width:80%;word-break: break-all;}
.address{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:95%;}
.myloading{width:100%;margin-top:50%;}
.myloading img{width: 50px;height: 50px;display: block;margin: 0 auto 10px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation: rotate 3s linear infinite;
    -moz-animation: rotate 3s linear infinite;
    -o-animation: rotate 3s linear infinite;
    animation: rotate 3s linear infinite;}
@-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
    to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
    to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{from{-o-transform: rotate(0deg)}
    to{-o-transform: rotate(359deg)}
}
@keyframes rotate{from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}
}
.dazhe{width: 50px;text-align: center;height: 15px;line-height: 15px;font-size: 12px;color: #f60;border-radius: 5px;border:1px solid #f60;}
.shoplist_rt_top{display: flex;justify-content: space-between;align-items: center;}
/*-----店铺详情---------*/
.myslider{height:250px;width:100%;}
.myslider img{width:100%;height:auto;}
.shop_intro{background:#fff;margin-top:10px;}
.shop_intro>div{border-bottom:1px solid #EBEBEB;display: flex;justify-content: flex-start;align-items: center;}
.icon_box{width:50px;height:50px;line-height:50px;text-align:center;}
.icon_box img{width:22px;height:auto;}
.shop_intro_rt{display: flex;justify-content:space-between;align-items: center;width:85%;}
.btnbox{display: flex;justify-content:flex-end;align-items: center;}
.btnbox a{height:25px;line-height:25px;padding:0 10px;font-size:0.8em;margin-left:5px;}
button:focus{outline:none !important;}
.shopname,.hot_suggest>div{font-size:1em;font-weight:bold;}
.hot_suggest{background:#fff;margin-top:10px;padding:10px;}
.hot_suggest_list{width:100%;margin-top:10px;}
/*.hot_suggest_list img{padding:0;margin-bottom:0.5em;}*/
.zpc_img{height:70px;margin-bottom:5px;}
.price{color:#f60;height: 18px;line-height: 18px;}
.am-modal-bd{margin:0;max-height:300px;overflow-y:auto;padding: 0 10px;background:#fff;}
.am-modal-bd em{margin:0 10px;color:#f60;}
.am-modal-bd li{border:none;border-bottom:1px solid #dedede;margin:0;padding:10px 0;}
.am-modal-dialog>div{text-indent: 10px;padding:10px 0;}
.am-modal-dialog{position: relative;}
.close{position: absolute;top: 0;right: 0;height: 45px;line-height: 45px;padding: 0 10px;}

/*--------会员优惠券-----*/
.title{padding:10px;}
.coupons_list{margin:0;padding:0 10px;background:#fff;}
.coupons_list li{border:none;border-bottom:1px solid #ebebeb;padding:15px 0;margin-bottom:0;display: flex;justify-content: space-between;align-items: center;}
.coupons_list li:last-child{border:none;}
.coupons_list li span{color: #aaa;font-size: 14px;}
/*---footer-----*/
.footerbar{background:#fff;text-align:center;position:fixed;bottom:0;width:100%;}
.footerbar li{padding:0;border-right:1px solid #ebebeb;}
.footerbar li a{display:block;padding:10px 0;width:100%;}
.current_page a{color:#f60;}

